body {
    background-color: #7bdcb5; 
}


.calculator-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 80vh;
}


.my-btn {
    margin-right: 5px; 
    margin-top: 5px; 
    position: relative;
    top: 0;
    margin-bottom: 10px;
    width: 50px; 
    height: 50px; 
    border-radius: 5x; 
    border: none; 
    background: #FFFF; 
    color: black; 
    font-size: 12x; 
    transition: opacity .45s;
    font-family: Open; 
    font-weight: 600;
    cursor: pointer; 
    user-select: none; 
}

                       
    .my-btn:hover {
        background: #7ad03a;                                                                 
    }

                                                        
    .my-btn:active {
        filter: brightness(130%);                                                     
    }

                                                   
    .my-btn.primary {
        background: #6ecbb8;  
        color: #FFFF;   
        font-family: Arial;      
        font-size: 16px;
        font-weight: 400;               
    }

                                                   
    .my-btn.secondary {
        background: #edaa00;                     
    }
    
                                           
    .my-btn.execute {
        width: 110px;                               
        border-radius: 5px; 
        background: #edaa00;                               
    }

                                       
.result {
    width: 230px;
    height: 60px;
    margin-bottom: 15px;                 
    padding-right: 10px;                  
    background: rgb(0, 0, 0);                                        
    text-align: right;                                       
    color: #FFFF;                      
    font-size: 1.5rem;
    display: flex;
    justify-content: right;                                       
    font-family: Arial, Helvetica, sans-serif;
    border-radius:5px;                               
    background: #FA8072;                             
    align-items: center;
}
