/* ✅ Фон для всей страницы */
body {
    background-color: #f8f9fa;
}


#main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.product-card {
    width: 100%;
    max-width: 600px;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


