#back-button {
    background: #6ecbb8;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#back-button:hover {
    background: #6ecbb8;
}